## Problem sets
hw/*

## Previous iterations of the course
resources/*

## LaTeX intermediate files
*.aux
*.log
*.out
*.pyg
*.toc

## Generated Sweave output and graphics
latex/chap??.tex
latex/chap??-*.pdf

## R history
.Rhistory

## OS X junk
.DS_Store
